<%= form_for(@publish) do |f| %>
  <% if @publish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publish.errors.count, "error") %> prohibited this publish from being saved:</h2>

      <ul>
      <% @publish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "User Id"%><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label "Title" %><br>
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label "Message" %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label "Url" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Topic Name" %><br>
    <%= f.text_field :topicname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
